<nz-layout class="shell-container">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'lg'"
    [nzCollapsedWidth]="0"
    nzZeroTrigger="zeroTrigger"
    nzWidth="200px"
  >
    <div class="logo"></div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item [routerLink]="['daily-entry']">
        <!-- <i nz-icon nzType="unordered-list"></i> -->
        <span>每日录入</span>
      </li>
      <li nz-menu-item [routerLink]="['epidemic']">
        <!-- <i nz-icon nzType="unordered-list"></i> -->
        <span>疫情信息</span>
      </li>
      <li nz-submenu *ngIf="type > 1">
        <span title>
          <!-- <i nz-icon type="setting"></i> -->
          <span>基础数据维护</span>
        </span>
        <ul>
          <li nz-menu-item [routerLink]="['date-setting/unit']">单位管理</li>
          <li nz-menu-item [routerLink]="['date-setting/user']">用户管理</li>
        </ul>
      </li>
      <li nz-submenu *ngIf="type >= 1">
        <span title>
          <!-- <i nz-icon nzType="bar-chart"></i> -->
          <span>查询统计</span>
        </span>
        <ul>
          <li nz-menu-item [routerLink]="['statistics']">
            每日统计
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-left">
        <!-- <i
          class="trigger"
          nz-icon
          [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i> -->
      </div>
      <nz-dropdown>
        <div class="header-right" nz-dropdown>
          欢迎您，{{userName}}
        </div>
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="logout()">
            <a>退出登陆</a>
          </li>
        </ul>
      </nz-dropdown>
    </nz-header>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <!-- <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>
