<nz-card class="card-container">
  <div>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="currentConfirmedCount"
          [nzTitle]="'现存确诊'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="suspectedCount"
          [nzTitle]="'现存疑似'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="seriousCount"
          [nzTitle]="'现存重症'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="confirmedCount"
          [nzTitle]="'累计确诊'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="deadCount"
          [nzTitle]="'累计死亡'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-statistic
          [nzValue]="curedCount"
          [nzTitle]="'累计治愈'"
        ></nz-statistic>
      </nz-col>
    </nz-row>
  </div>
</nz-card>
<nz-card class="card-container">
  <div class="container">
    <div
      echarts
      [options]="option"
      [loading]="loading"
      theme="shine"
      class="demo-chart"
    ></div>
    <div></div>
  </div>
</nz-card>
<nz-card class="card-container">
  <nz-table #nestedTable [nzData]="displayProvincesList" [nzPageSize]="10">
    <thead>
      <tr>
        <th nzShowExpand nzWidth="5%"></th>
        <th nzWidth="15%">地区</th>
        <th nzWidth="20%">现存确诊</th>
        <th nzWidth="20%">累计确诊</th>
        <th nzWidth="20%">死亡</th>
        <th nzWidth="20%">治愈</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td nzWidth="5%" nzShowExpand [(nzExpand)]="data.expand"></td>
          <td nzWidth="15%">{{ data.provinceShortName }}</td>
          <td nzWidth="20%">{{ data.currentConfirmedCount}}</td>
          <td nzWidth="20%">{{ data.confirmedCount }}</td>
          <td nzWidth="20%">{{ data.deadCount }}</td>
          <td nzWidth="20%">{{ data.curedCount }}</td>
        </tr>
        <tr [nzExpand]="data.expand">
          <td></td>
          <td colspan="7">
            <nz-table
              #innerTable
              [nzData]="data.cities"
              nzSize="middle"
              [nzShowPagination]="false"
            >
              <thead>
                <tr>
                  <th nzWidth="20%">市</th>
                  <th nzWidth="20%">现存确诊</th>
                  <th nzWidth="20%">累计确诊</th>
                  <th nzWidth="20%">死亡</th>
                  <th nzWidth="20%">治愈</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let city of innerTable.data">
                  <td nzWidth="20%">{{ city.cityName }}</td>
                  <td nzWidth="20%">{{ city.currentConfirmedCount}}</td>
                  <td nzWidth="20%">{{ city.confirmedCount }}</td>
                  <td nzWidth="20%">{{ city.deadCount }}</td>
                  <td nzWidth="20%">{{ city.curedCount }}</td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>
<nz-card class="card-container">
  <nz-list
    [nzDataSource]="displayNewsList"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="loading"
  >
    <ng-template #item let-item>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="item.summary">
          <ng-template #nzTitle>
            <a (click)="open(item)"> {{ item.title }}</a>
          </ng-template>
        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-card>
