<nz-card nzTitle="用户维护">
  <div class="table-header row">
    <!-- <button
      class="table-header-left"
      nz-button
      nzType="primary"
      (click)="addEditCache()"
    >
      新增
    </button> -->
    <!-- <nz-input-group
      class="table-header-right"
      nzSearch
      [nzSuffix]="suffixIconButton"
    > -->
    <input
      type="text"
      nz-input
      [(ngModel)]="searchString"
      placeholder="请输入搜索内容"
      (input)="search()"
      style="width: 300px;"
    />
    <!-- </nz-input-group> -->
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()">
        <i class="anticon anticon-search"></i>
      </button>
    </ng-template>
  </div>
  <nz-table
    #nzTable
    nzPageSize="8"
    nzPageIndex="1"
    [nzData]="displayUserList"
    [nzShowTotal]="totalTemplate"
    [nzLoading]="loading"
  >
    <thead>
      <tr>
        <th nzWidth="10%">学号</th>
        <th nzWidth="10%">姓名</th>
        <th nzWidth="20%">单位</th>
        <th nzWidth="20%">电话</th>
        <th nzWidth="20%">权限</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let index = index;">
        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.username}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].username"
            />
          </div>
        </td>

        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.name}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].name"
            />
          </div>
        </td>

        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.unit?.name}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <!-- <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].unit"
            /> -->
            <nz-select
              style="width: 100%;"
              [(ngModel)]="editCache[index].unit_id"
              nzAllowClear
            >
              <nz-option
                *ngFor="let item of unitList"
                [nzValue]="item.id"
                [nzLabel]="item.name"
              ></nz-option>
            </nz-select>
          </div>
        </td>

        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.mobile}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].mobile"
            />
          </div>
        </td>

        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.typeName}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <!-- <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].type"
            /> -->
            <nz-radio-group [(ngModel)]="editCache[index].type">
              <label nz-radio nzValue="0">普通</label>
              <label nz-radio nzValue="1">管理</label>
            </nz-radio-group>
          </div>
        </td>

        <td>
          <div class="editable-row-operations">
            <div *ngIf="!editCache[index].edit">
              <button
                (click)="startEdit(index)"
                nzType="primary"
                nzGhost
                nz-button
                [disabled]="editStatus"
              >
                编辑
              </button>

              <nz-divider nzType="vertical"></nz-divider>

              <button
                nz-button
                nzType="primary"
                nzGhost
                (click)="showDeleteConfirm(data)"
              >
                删除
              </button>
            </div>
            <div *ngIf="editCache[index].edit">
              <button
                *ngIf="updateMode === 'edit'"
                (click)="updateUnit(editCache[index])"
                nzType="primary"
                nzGhost
                nz-button
              >
                保存
              </button>

              <button
                *ngIf="updateMode === 'add'"
                (click)="addUnit(editCache[index])"
                nzType="primary"
                nzGhost
                nz-button
              >
                保存
              </button>

              <nz-divider nzType="vertical"></nz-divider>

              <button
                nz-popconfirm
                nzTitle="确定取消?"
                nzType="primary"
                (nzOnConfirm)="cancelEdit(index)"
                nzGhost
                nz-button
              >
                取消
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate let-total>
      共 {{ displayUserList.length}} 项
    </ng-template>
  </nz-table>
</nz-card>
