<nz-layout>
  <nz-content>
    <div>
      <nz-result
        *ngIf="ifFinish"
        nzStatus="success"
        nzTitle="您已完成今日打卡"
      ></nz-result>
      <nz-result
        *ngIf="!ifFinish"
        nzStatus="info"
        nzTitle="今日打卡未完成"
      ></nz-result>
    </div>
    <nz-card class="card" nzTitle="打卡">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        *ngIf="!ifFinish"
      >
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>体温</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入温度">
            <input nz-input formControlName="temperature" id="temperature" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>咳嗽</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group formControlName="if_cough" id="if_cough">
              <label nz-radio nzValue="0">无</label>
              <label nz-radio nzValue="1">有</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
            >呼吸困难</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group formControlName="breath_short" id="breath_short">
              <label nz-radio nzValue="0">无</label>
              <label nz-radio nzValue="1">有</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email"
            >其他</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="other" id="other" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button class="form-button" [nzType]="'primary'">
              提交
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div *ngIf="ifFinish" class="condition">
        <div nz-row class="row">
          <div nz-col nzSpan="10">温度：</div>
          <div nz-col nzSpan="12">{{displayDaliyEntry.temperature}}</div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="10">咳嗽：</div>
          <div nz-col nzSpan="12">{{displayDaliyEntry.if_cough_n}}</div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="10">呼吸困难：</div>
          <div nz-col nzSpan="12">
            {{displayDaliyEntry.breath_short_n}}
          </div>
        </div>
        <div nz-row class="row">
          <div nz-col nzSpan="10">其他：</div>
          <div nz-col nzSpan="12">{{displayDaliyEntry.other}}</div>
        </div>
      </div>
    </nz-card>
  </nz-content>
</nz-layout>

<!-- <ng-template #extraTemplate>
  <a>More</a>
</ng-template> -->
