.form-button {
    width: 100%;
}

.card {
    width:500px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .card {
        width:100%;
        margin: 0 auto;
        border-radius: 15px;
        padding: 10px;
    }
}

.ant-result {
    padding: 20px 32px;
}
.condition {
    text-align: center;
    // font-size: 15px;
    // font-size: 15px;
    padding: 10px;
    // opacity: 0.9;
    .row {
        padding: 5px;
        border-radius: 3px;
    }
}
