<nz-card nzTitle="单位维护">
  <div class="table-header row">
    <button
      class="table-header-left"
      nz-button
      nzType="primary"
      (click)="addEditCache()"
    >
      新增
    </button>
    <!-- <nz-input-group
      class="table-header-right"
      nzSearch
      [nzSuffix]="suffixIconButton"
    > -->
    <input
      class="table-header-right"
      type="text"
      nz-input
      [(ngModel)]="searchString"
      placeholder="请输入搜索内容"
      (input)="search()"
    />
    <!-- </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="search()">
        <i class="anticon anticon-search"></i>
      </button>
    </ng-template> -->
  </div>
  <nz-table
    #nzTable
    nzPageSize="8"
    nzPageIndex="1"
    [nzData]="displayUnitList"
    [nzShowTotal]="totalTemplate"
    [nzLoading]="loading"
  >
    <thead>
      <tr>
        <th nzWidth="20%">名称</th>
        <th nzWidth="20%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data; let index = index;">
        <td>
          <div *ngIf="!editCache[index].edit ">
            {{data.name}}
          </div>
          <div *ngIf="editCache[index].edit ">
            <input
              type="text"
              appInputAutofocus
              nz-input
              [(ngModel)]="editCache[index].name"
            />
          </div>
        </td>

        <td>
          <div class="editable-row-operations">
            <div *ngIf="!editCache[index].edit">
              <button
                (click)="startEdit(index)"
                nzType="primary"
                nzGhost
                nz-button
                [disabled]="editStatus"
              >
                编辑
              </button>

              <nz-divider nzType="vertical"></nz-divider>

              <button
                nz-button
                nzType="primary"
                nzGhost
                (click)="showDeleteConfirm(data)"
              >
                删除
              </button>
            </div>
            <div *ngIf="editCache[index].edit">
              <button
                *ngIf="updateMode === 'edit'"
                (click)="updateUnit(editCache[index])"
                nzType="primary"
                nzGhost
                nz-button
              >
                保存
              </button>

              <button
                *ngIf="updateMode === 'add'"
                (click)="addUnit(editCache[index])"
                nzType="primary"
                nzGhost
                nz-button
              >
                保存
              </button>

              <nz-divider nzType="vertical"></nz-divider>

              <button
                nz-popconfirm
                nzTitle="确定取消?"
                nzType="primary"
                (nzOnConfirm)="cancelEdit(index)"
                nzGhost
                nz-button
              >
                取消
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #totalTemplate let-total>
      共 {{ displayUnitList.length}} 项
    </ng-template>
  </nz-table>
</nz-card>
