.editable-row-operations {
    [nz-icon] {
      color: #1890ff;
      padding: 6px;
      font-size: 24px !important;
    }
  
    [nz-icon]:hover {
      color: #1890ff;
      padding: 6px;
      font-size: 24px;
      cursor: pointer;
    }
  
    [nz-icon].delete:hover {
      color: #F44336;
      padding: 6px;
      font-size: 24px;
    }
  
  
    [nz-icon].edit-disabled {
      padding: 6px;
      font-size: 24px;
      cursor: not-allowed;
    }
  }