.print-area {
  width: 794px;
  height: 1123px;
  padding: 16px;
}

.print-area .title {
  margin-top: 22px;
  text-align: center;
}

.title h1 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.title h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


.content {
  display: flex;
  justify-content: center;
}

.header {
  width: 80%;
  font-size: 12px;
}

.header .header-row {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
}


.table-container {
  padding: 16px;
  font-size: 12px;
}


.table-container table,
th,
td {
  border-collapse: collapse;
  width: 730px;
  line-height: 30px;
  border: 1px solid black;
  font-size: 12px;
  text-align: left;
}

.print-area .footer-container {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.print-area .footer-container .footer {
  width: 30%
}

.print-area .footer-container .footer-left {
  width: 30%
}

.print-area .footer-remark-container {
  padding: 0 16px;
}

.print-area .footer-remark-container .footer-remark-header {
  margin-bottom: 12px;
}

.print-area .footer-car-sign-container {
  margin-top: 32px;
}

p {
  margin-bottom: 6px;
  font-size: 12px;
}
