.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .check {
        width: 45%;
        padding: 10px;
        margin: 10px;
        margin-top: 30px;
        border-radius: 15px;
        opacity: 0.9;
        .statistic {
            padding: 15px;
            background-color: #FFFAFA;
            text-align: center;
            border-radius: 8px;
        }
        .form {
            margin-top: 5px;
            border-radius: 8px;
        }
    }
    .abnormal{
        width: 45%;
        padding: 10px;
        margin: 10px;
        margin-top: 30px;
        border-radius: 15px;
        opacity: 0.9;
        .statistic {
            padding: 15px;
            background-color: #FFFAFA;
            text-align: center;
            border-radius: 8px;
        }
        .form {
            margin-top: 5px;
            border-radius: 8px;
        }
    }
}