<div class="container">
  <nz-card class="check" nzTitle="打卡情况">
    <nz-row class="statistic" [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-statistic
          [nzValue]="unfinishNo"
          [nzTitle]="'未完成打卡人数'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic
          [nzValue]="finishNo"
          [nzTitle]="'已完成打卡人数'"
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="total" [nzTitle]="'总人数'"></nz-statistic>
      </nz-col>
    </nz-row>

    <nz-table
      class="form"
      #unfinishTable
      [nzPageSize]="5"
      [nzData]="displayUnfinishUserList"
    >
      <thead>
        <tr>
          <th>学/工号</th>
          <th>姓名</th>
          <th>手机</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of unfinishTable.data">
          <td>{{ data.username }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.mobile }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>

  <nz-card class="abnormal" nzTitle="异常情况">
    <nz-row class="statistic" [nzGutter]="16">
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="hotNo" [nzTitle]="'发热人数'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic [nzValue]="coughNo" [nzTitle]="'咳嗽人数'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-statistic
          [nzValue]="breathNo"
          [nzTitle]="'呼吸困难人数'"
        ></nz-statistic>
      </nz-col>
    </nz-row>

    <nz-table
      class="form"
      #abnormalTable
      [nzPageSize]="5"
      [nzData]="displayAbnormalList"
    >
      <thead>
        <tr>
          <th>学/工号</th>
          <th>姓名</th>
          <th>发热</th>
          <th>咳嗽</th>
          <th>呼吸</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of abnormalTable.data">
          <td>{{ data.usrClass.username }}</td>
          <td>{{ data.usrClass.name }}</td>
          <td>{{ data.temperature }} ℃</td>
          <td>{{ data.if_cough_n }}</td>
          <td>{{ data.breath_short_n }}</td>
        </tr>
      </tbody>
    </nz-table>

    <!-- <div>
      <div
        echarts
        [options]="option"
        [loading]="loading"
        theme="shine"
        class="demo-chart"
      ></div>
      <div></div>
    </div> -->
  </nz-card>
</div>
