<div class="layout">
  <nz-card class="login">
    <div class="login-background"></div>
    <div class="login-content">
      <form
        nz-form
        [formGroup]="validateLoginForm"
        class="login-form"
        (ngSubmit)="submitLoginForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入您的学/工号！">
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="userName"
                placeholder="学/工号"
                style="border-radius: 20px;"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入您的密码！">
            <nz-input-group>
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="密码"
                style="border-radius: 20px;"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="remember">
              <span>记住用户</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
            <button
              nz-button
              class="login-form-button"
              [nzType]="'primary'"
              style="border-radius: 20px;"
            >
              登录
            </button>
            <a (click)="showModal()"> 注册</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-card>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="注册"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitRegisterForm()"
  [nzOkLoading]="isOkLoading"
>
  <form
    nz-form
    [formGroup]="validateRegisterForm"
    (ngSubmit)="submitRegisterForm()"
  >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
        >学/工号</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="学/工号不能为空">
        <input nz-input formControlName="student_no" id="student_no" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
        >密码</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="密码不能为空">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
        >重新输入密码</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input
          nz-input
          type="password"
          formControlName="checkPassword"
          id="checkPassword"
        />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            请确认你的密码
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            两次输入的密码不同
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
        姓名
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="姓名不能为空">
        <input nz-input id="name" formControlName="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired
        >手机号</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        [nzValidateStatus]="validateRegisterForm.controls['phoneNumber']"
        nzErrorTip="手机号不能为空"
      >
        <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
          <ng-template #addOnBeforeTemplate>
            <nz-select formControlName="phoneNumberPrefix" class="phone-select">
              <nz-option nzLabel="+86" nzValue="+86"></nz-option>
            </nz-select>
          </ng-template>
          <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired
        >单位</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入单位">
        <nz-select id="unit" formControlName="unit" [ngModel]="select">
          <nz-option
            *ngFor="let unit of unitList"
            [nzLabel]="unit.name"
            [nzValue]="unit.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
          <span> 确认你输的信息</span>
        </label>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">注册</button>
      </nz-form-control>
    </nz-form-item> -->
  </form>
</nz-modal>
