



.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(src\assets\images\background.jpg);
  // background-repeat:no-repeat;
  // background-size: 100% 100%;

  .login {
    position: relative;
    width: 500px;
    border-radius: 15px;
    opacity: 0.8;
  }

  // .login-background{
  //   position: absolute;
  // }

  // .login-content{
  //   position: absolute;
  // }
  .login-form {
    position: relative;
    max-width: 300px;
    margin: auto;
    padding-top: 20px;
    opacity: 1;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}